.l-row
  +row()

.l-content
  +clearfix
  padding: 30px 0

.l-content-thin
  +clearfix
  padding: 22px 14px

.l-content-thick
  padding: 55px 0

.l-single-centered-column
  +outer-container

.l-half-column
  +span-columns(6)
  +breakpoint($mobile)
    +span-columns(4)

.l-third-column
  +span-columns(4)
  +omega(3n)
  +breakpoint($mobile)
    +span-columns(4)
