input[type="search"], input[type="email"], input[type="text"], input[type="password"]
  +inline-block
  +box-sizing(border-box)
  +appearance(none)
  width: 100%
  outline: none

select
  +box-sizing(border-box)
  +inline-block
  width: 100%
  outline: none

input[type="search"], input[type="email"]
  padding: 13px
  width: 100%
  &:before, &:after
    content: ""
    display: table

label
  margin-right: 10px
