input[type="search"], input[type="submit"], input[type="email"]
  +box-sizing(border-box)
  +appearance(none)
  height: 45px
  outline: none

input[type="search"], input[type="email"]
  padding: 0 10px
  width: 400px
