@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  background: white;
  color: black;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: yellow;
  color: black; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type='button'], input[type='reset'], input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0; }
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.l-row {
  *zoom: 1;
  display: block; }
  .l-row:before, .l-row:after {
    content: " ";
    display: table; }
  .l-row:after {
    clear: both; }

.l-content {
  padding-top: 60px; }

.l-single-centered-column {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .l-single-centered-column:before, .l-single-centered-column:after {
    content: " ";
    display: table; }
  .l-single-centered-column:after {
    clear: both; }

.l-half-column {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 48.93617%; }
  .l-half-column:last-child {
    margin-right: 0; }

.l-third-column {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 31.91489%; }
  .l-third-column:last-child {
    margin-right: 0; }

body {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25em;
  margin: 0;
  padding-bottom: 15px;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #f58220;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #c05d09; }
  a:active, a:focus {
    color: #c05d09;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

input[type="search"], input[type="submit"], input[type="email"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 45px;
  outline: none; }

input[type="search"], input[type="email"] {
  padding: 0 10px;
  width: 400px; }

.title {
  color: #192030; }
  .title.small {
    font-size: 0.9em;
    padding-bottom: 30px; }

.uppercase {
  text-transform: uppercase; }

.read-all {
  font-size: 0.813em;
  font-weight: 300;
  text-decoration: underline; }

.m-header {
  background: url("../img/header-bg.jpg") center center;
  position: relative;
  height: 649px;
  padding-top: 20px; }
  .m-header .m-logo {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 31.91489%; }
    .m-header .m-logo:last-child {
      margin-right: 0; }

.m-header-nav {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 65.95745%;
  list-style-type: none;
  padding: 0;
  margin-top: -12px;
  overflow: hidden; }
  .m-header-nav:last-child {
    margin-right: 0; }
  .m-header-nav > li {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    margin: 5px 10px; }
    .m-header-nav > li:last-child {
      margin-right: 0px; }
    .m-header-nav > li a {
      color: white;
      font-weight: bold; }

.m-search {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 48.93617%; }
  .m-search:last-child {
    margin-right: 0; }
  .m-search h1 {
    color: white;
    line-height: 40px; }

.m-search-wrapper {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.15);
  padding: 7px;
  margin-top: 25px; }
  .m-search-wrapper input[type="search"], .m-search-wrapper input[type="submit"] {
    border: 1px solid #999999;
    outline: none; }
  .m-search-wrapper input[type="submit"] {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -6px;
    background: #f58220 url(../img/icon-search.png) center center no-repeat;
    cursor: pointer;
    text-indent: -9999px;
    width: 45px;
    border-left: 0; }
  .m-search-wrapper input[type="search"] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 15px;
    background-color: #dddddd; }
    .m-search-wrapper input[type="search"]:focus {
      background-color: white; }

.m-menu {
  background: rgba(255, 255, 255, 0.05);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0; }
  .m-menu .m-courses-menu {
    margin: 0;
    padding: 0;
    border: 0;
    *zoom: 1; }
    .m-menu .m-courses-menu:before, .m-menu .m-courses-menu:after {
      content: " ";
      display: table; }
    .m-menu .m-courses-menu:after {
      clear: both; }
    .m-menu .m-courses-menu li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0px;
      white-space: nowrap;
      display: inline;
      float: left;
      padding-left: 4px;
      padding-right: 4px; }
      .m-menu .m-courses-menu li:first-child, .m-menu .m-courses-menu li.first {
        padding-left: 0; }
      .m-menu .m-courses-menu li:last-child {
        padding-opposite-position(left): 0; }
      .m-menu .m-courses-menu li.last {
        padding-opposite-position(left): 0; }
    .m-menu .m-courses-menu .m-courses-menu-item {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 14.89362%; }
      .m-menu .m-courses-menu .m-courses-menu-item:last-child {
        margin-right: 0; }
      .m-menu .m-courses-menu .m-courses-menu-item:nth-child(6n) {
        margin-right: 0; }
      .m-menu .m-courses-menu .m-courses-menu-item:nth-child(6n+1) {
        clear: left; }
    .m-menu .m-courses-menu [class^="icon-"], .m-menu .m-courses-menu [class*=" icon-"] {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      height: 125px;
      background-position: center 25px;
      background-repeat: no-repeat;
      position: relative; }
      .m-menu .m-courses-menu [class^="icon-"]:hover, .m-menu .m-courses-menu [class^="icon-"].is-selected, .m-menu .m-courses-menu [class*=" icon-"]:hover, .m-menu .m-courses-menu [class*=" icon-"].is-selected {
        background-color: rgba(34, 34, 34, 0.8); }
      .m-menu .m-courses-menu [class^="icon-"]:hover span, .m-menu .m-courses-menu [class^="icon-"].is-selected span, .m-menu .m-courses-menu [class*=" icon-"]:hover span, .m-menu .m-courses-menu [class*=" icon-"].is-selected span {
        color: #f58220; }
      .m-menu .m-courses-menu [class^="icon-"] span, .m-menu .m-courses-menu [class*=" icon-"] span {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
        color: white;
        font-weight: bold; }
  .m-menu .icon-business {
    background-image: url("../img/icon-business.png"); }
    .m-menu .icon-business:hover, .m-menu .icon-business.is-selected {
      background-image: url("../img/icon-active-business.png"); }
  .m-menu .icon-safety {
    background-image: url("../img/icon-safety.png"); }
    .m-menu .icon-safety:hover, .m-menu .icon-safety.is-selected {
      background-image: url("../img/icon-active-safety.png"); }
  .m-menu .icon-compliance {
    background-image: url("../img/icon-compliance.png"); }
    .m-menu .icon-compliance:hover, .m-menu .icon-compliance.is-selected {
      background-image: url("../img/icon-active-compliance.png"); }
  .m-menu .icon-technology {
    background-image: url("../img/icon-technology.png"); }
    .m-menu .icon-technology:hover, .m-menu .icon-technology.is-selected {
      background-image: url("../img/icon-active-technology.png"); }
  .m-menu .icon-healthcare {
    background-image: url("../img/icon-healthcare.png"); }
    .m-menu .icon-healthcare:hover, .m-menu .icon-healthcare.is-selected {
      background-image: url("../img/icon-active-healthcare.png"); }
  .m-menu .icon-software {
    background-image: url("../img/icon-software.png"); }
    .m-menu .icon-software:hover, .m-menu .icon-software.is-selected {
      background-image: url("../img/icon-active-software.png"); }

.m-btn {
  border-radius: 5px;
  border: 1px solid white;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto; }

.m-btn {
  margin: 0 5px;
  padding: 11px 27px; }
  .m-btn:hover, .m-btn.is-selected {
    border: 1px solid #f58220;
    background-color: #f58220; }

.m-btn-alt {
  border-radius: 5px;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto; }
  .m-btn-alt:hover, .m-btn-alt.is-selected {
    border: 1px solid #f58220; }

.m-btn-orange {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #f58220;
  padding: 10px 22px;
  font-size: 14px;
  color: #f58220;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto; }
  .m-btn-orange:hover, .m-btn-orange.is-selected {
    background-color: #f58220;
    color: white; }

.m-packages-block {
  padding: 70px 0;
  background: white;
  text-align: center; }
  .m-packages-block .m-packages {
    *zoom: 1;
    padding: 0; }
    .m-packages-block .m-packages:before, .m-packages-block .m-packages:after {
      content: " ";
      display: table; }
    .m-packages-block .m-packages:after {
      clear: both; }
  .m-packages-block .m-packages-item {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 31.91489%;
    background-repeat: no-repeat;
    background-position: center 50px;
    padding-top: 140px; }
    .m-packages-block .m-packages-item:last-child {
      margin-right: 0; }
    .m-packages-block .m-packages-item:nth-child(3n) {
      margin-right: 0; }
    .m-packages-block .m-packages-item:nth-child(3n+1) {
      clear: left; }
  .m-packages-block .icon-enterprise {
    background-image: url("../img/icon-enterprise.png"); }
  .m-packages-block .icon-sm-med-business {
    background-image: url("../img/icon-sm-med-business.png"); }
  .m-packages-block .icon-individual {
    background-image: url("../img/icon-individual.png"); }

.m-testimonials-block, .m-testimonials-block_others {
  *zoom: 1;
  padding: 50px 0;
  text-align: center;
  color: white;
  background: #3f4d57 url("../img/fc-logo-bg.png") no-repeat center center; }
  .m-testimonials-block:before, .m-testimonials-block_others:before, .m-testimonials-block:after, .m-testimonials-block_others:after {
    content: " ";
    display: table; }
  .m-testimonials-block:after, .m-testimonials-block_others:after {
    clear: both; }
  .m-testimonials-block .content, .m-testimonials-block_others .content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 65.95745%;
    margin-left: 17.02128%;
    line-height: 42px; }
    .m-testimonials-block .content:last-child, .m-testimonials-block_others .content:last-child {
      margin-right: 0; }
  .m-testimonials-block .title, .m-testimonials-block_others .title {
    color: white; }
  .m-testimonials-block .text, .m-testimonials-block_others .text {
    font-size: 2em;
    font-weight: 300; }
  .m-testimonials-block .name, .m-testimonials-block_others .name, .m-testimonials-block .occupation, .m-testimonials-block_others .occupation, .m-testimonials-block .read-all, .m-testimonials-block_others .read-all {
    margin-bottom: 0;
    line-height: 1.5em; }
  .m-testimonials-block .name, .m-testimonials-block_others .name {
    font-size: 1.5em;
    font-weight: normal; }
  .m-testimonials-block .occupation, .m-testimonials-block_others .occupation {
    font-size: 0.875em;
    font-weight: 300; }
  .m-testimonials-block .read-all, .m-testimonials-block_others .read-all {
    color: #f58220; }

.m-testimonials-block_others {
  background-image: url("../img/testimonials-bg.png");
  background-image: url("../img/testimonials-bg.png");
  background-repeat: repeat;
  color: #646464; }
  .m-testimonials-block_others .content {
    text-align: center; }
  .m-testimonials-block_others .title {
    color: #646464; }
  .m-testimonials-block_others .logo {
    background-image: url("../img/forbs-logo.png");
    background-image: url("../img/forbs-logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 37px; }

.m-courses-block .title {
  color: #192030; }
.m-courses-block .read-all {
  color: #192030;
  font-size: 0.75em; }
.m-courses-block .m-courses {
  *zoom: 1;
  padding: 0; }
  .m-courses-block .m-courses:before, .m-courses-block .m-courses:after {
    content: " ";
    display: table; }
  .m-courses-block .m-courses:after {
    clear: both; }
.m-courses-block .m-courses-item {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 23.40426%;
  border-radius: 5px;
  border: 1px solid #999999; }
  .m-courses-block .m-courses-item:last-child {
    margin-right: 0; }
  .m-courses-block .m-courses-item .img-wrapper {
    position: relative; }
    .m-courses-block .m-courses-item .img-wrapper .img-capture {
      background-color: rgba(25, 32, 48, 0.9);
      position: absolute;
      padding: 8px 13px;
      bottom: 0;
      min-height: 20px;
      width: 100%;
      color: white;
      font-weight: bold;
      font-size: 0.688em; }
    .m-courses-block .m-courses-item .img-wrapper img {
      display: block;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
  .m-courses-block .m-courses-item .m-course-content {
    position: relative;
    padding: 13px; }
  .m-courses-block .m-courses-item .m-skills {
    padding-left: 22px;
    font-size: 0.625em;
    color: #192030; }
  .m-courses-block .m-courses-item .volume-available {
    color: #999999;
    font-size: 0.563em;
    margin-right: 0; }
  .m-courses-block .m-courses-item .m-course-provider span {
    color: #192030; }
  .m-courses-block .m-courses-item .m-course-price-duration {
    *zoom: 1;
    border-top: 1px solid #192030; }
    .m-courses-block .m-courses-item .m-course-price-duration:before, .m-courses-block .m-courses-item .m-course-price-duration:after {
      content: " ";
      display: table; }
    .m-courses-block .m-courses-item .m-course-price-duration:after {
      clear: both; }
    .m-courses-block .m-courses-item .m-course-price-duration .duration {
      border-left: 1px solid #192030; }
    .m-courses-block .m-courses-item .m-course-price-duration em {
      color: #999999; }
    .m-courses-block .m-courses-item .m-course-price-duration span {
      width: 50%;
      float: left;
      display: block;
      padding: 5px;
      text-align: center;
      font-weight: bold;
      font-size: 0.938em; }
  .m-courses-block .m-courses-item [class^="icon-"], .m-courses-block .m-courses-item [class*=" icon-"] {
    background-position: left center;
    background-repeat: no-repeat; }
  .m-courses-block .m-courses-item .icon-skills-business {
    background-image: url("../img/icon-skills-business.png"); }
  .m-courses-block .m-courses-item .icon-skills-safety {
    background-image: url("../img/icon-skills-safety.png"); }
  .m-courses-block .m-courses-item .icon-skills-industry {
    background-image: url("../img/icon-skills-industry.png"); }
.m-courses-block .m-course-wrapper {
  *zoom: 1; }
  .m-courses-block .m-course-wrapper:before, .m-courses-block .m-course-wrapper:after {
    content: " ";
    display: table; }
  .m-courses-block .m-course-wrapper:after {
    clear: both; }
  .m-courses-block .m-course-wrapper .l-row {
    margin-top: 60px; }
  .m-courses-block .m-course-wrapper .img-team {
    margin-top: 70px;
    display: block; }
  .m-courses-block .m-course-wrapper p {
    color: #646464; }
  .m-courses-block .m-course-wrapper .screen {
    width: 569px;
    height: 630px;
    background: url("../img/screen.jpg") no-repeat;
    float: right; }
  .m-courses-block .m-course-wrapper .info-wrapper {
    padding-top: 50px; }

.m-signup {
  *zoom: 1;
  height: 90px;
  background-color: #242c31;
  text-align: center; }
  .m-signup:before, .m-signup:after {
    content: " ";
    display: table; }
  .m-signup:after {
    clear: both; }
  .m-signup form {
    padding-top: 23px;
    height: 100%; }
  .m-signup label {
    margin-right: 15px;
    height: 45px;
    line-height: 40px;
    color: white;
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle; }
  .m-signup input[type="email"], .m-signup input[type="submit"] {
    font-size: 0.813em;
    border-radius: 0.3125em;
    margin: 0 5px; }

.m-media {
  *zoom: 1; }
  .m-media:before, .m-media:after {
    content: " ";
    display: table; }
  .m-media:after {
    clear: both; }
  .m-media .m-object {
    float: left;
    display: block;
    margin-right: 4.34783%;
    width: 30.43478%; }
    .m-media .m-object:last-child {
      margin-right: 0; }
  .m-media .m-body {
    float: left;
    display: block;
    margin-right: 4.34783%;
    width: 65.21739%; }
    .m-media .m-body:last-child {
      margin-right: 0; }

.m-news-block {
  *zoom: 1;
  margin-bottom: 50px; }
  .m-news-block:before, .m-news-block:after {
    content: " ";
    display: table; }
  .m-news-block:after {
    clear: both; }
  .m-news-block .m-body h6 {
    font-size: 1.125em;
    color: #f58220; }

.m-footer {
  background-color: #242c31; }
  .m-footer .m-footer-nav {
    margin: 0;
    padding: 0;
    border: 0;
    *zoom: 1;
    padding: 37px 0;
    border-bottom: 1px solid #3f4d57; }
    .m-footer .m-footer-nav:before, .m-footer .m-footer-nav:after {
      content: " ";
      display: table; }
    .m-footer .m-footer-nav:after {
      clear: both; }
    .m-footer .m-footer-nav li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0px;
      white-space: nowrap;
      display: inline;
      float: left;
      padding-left: 4px;
      padding-right: 4px; }
      .m-footer .m-footer-nav li:first-child, .m-footer .m-footer-nav li.first {
        padding-left: 0; }
      .m-footer .m-footer-nav li:last-child {
        padding-opposite-position(left): 0; }
      .m-footer .m-footer-nav li.last {
        padding-opposite-position(left): 0; }
  .m-footer .m-footer-nav-item {
    font-weight: bold;
    margin: 0 10px; }
  .m-footer .m-footer-sitemap {
    margin: 0;
    padding: 0;
    border: 0;
    *zoom: 1;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px; }
    .m-footer .m-footer-sitemap:before, .m-footer .m-footer-sitemap:after {
      content: " ";
      display: table; }
    .m-footer .m-footer-sitemap:after {
      clear: both; }
    .m-footer .m-footer-sitemap li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0px;
      white-space: nowrap;
      display: inline;
      float: left;
      padding-left: 4px;
      padding-right: 4px; }
      .m-footer .m-footer-sitemap li:first-child, .m-footer .m-footer-sitemap li.first {
        padding-left: 0; }
      .m-footer .m-footer-sitemap li:last-child {
        padding-opposite-position(left): 0; }
      .m-footer .m-footer-sitemap li.last {
        padding-opposite-position(left): 0; }
  .m-footer .m-footer-sitemap-col {
    color: white;
    padding: 40px 0;
    width: 155px; }
    .m-footer .m-footer-sitemap-col .ellipsis {
      height: 30px;
      line-height: 30px;
      overflow: hidden; }
      .m-footer .m-footer-sitemap-col .ellipsis:before {
        content: "";
        float: left;
        height: 30px;
        width: 5px; }
      .m-footer .m-footer-sitemap-col .ellipsis:after {
        background: white;
        background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(#242c31), color-stop(50%, #242c31));
        background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: linear, to right, rgba(255, 255, 255, 0), white 50%, white;
        content: "\02026";
        float: right;
        left: 100%;
        margin-left: -165px;
        padding-right: 5px;
        position: relative;
        text-align: right;
        top: -25px;
        width: 165px; }
    .m-footer .m-footer-sitemap-col .ellipsis > *:first-child {
      float: right;
      margin-left: -5px;
      width: 100%; }
    .m-footer .m-footer-sitemap-col h5 {
      font-size: 0.813em;
      white-space: wrap; }
    .m-footer .m-footer-sitemap-col ul {
      padding: 0; }
    .m-footer .m-footer-sitemap-col li {
      width: 150px; }
    .m-footer .m-footer-sitemap-col a {
      font-size: 0.75em;
      color: white; }
  .m-footer .m-footer-copy-address {
    padding: 40px 0;
    border-top: 1px solid #3f4d57;
    color: white;
    font-size: 0.875em; }
