.m-admin
  .m-logo
    +span-columns(7)
    padding-left: 12px

.m-admin-summary-aside
  width: 300px
  position: relative
  margin-right: 0
  box-shadow: 0px 0 8px 3px  rgba(0,0,0,0.15)
  position: absolute
  padding-top: 20px
  top: 0
  bottom: 0

.m-admin-content
  +clearfix
  margin-left: 300px
  padding: 0


.m-logo-slogan
  +float(left)
  font-size: 0.688em
  line-height: 14px
  margin-left: 5px
  color: $dark-dark-blue

.m-admin-title
  +inline-block
  background-color: lighten($dark-blue, 5%)
  padding: 0 12px
  margin: 10px 0 15px 0
  color: white
  font-size: 0.625em
  font-weight: bold
  text-transform: uppercase
  width: 100%
  line-height: 25px

.m-amount-number
  +inline-block
  width: 100%
  text-align: center
  font-size: 2.125em
  font-weight: bold
  color: $near-black

.m-amount-number-description
  +inline-block
  width: 100%
  text-align: center
  text-transform: uppercase
  line-height: 15px
  font-size: 0.688em

.m-admin-message
  padding-left: 12px
  line-height: 18px
  font-size: 0.750em
  color: $pale-blue

.m-admin-step
  +clearfix
  padding: 15px 20px
  background-color: $medium-medium-gray

.m-admin-step--number
  +inline-block
  text-align: center
  font-size: 0.688em
  font-weight: bold
  color: $dark-blue
  background-color: $medium-gray
  width: 22px
  height: 22px
  border-radius: 11px
  margin-right: 10px

.m-admin-step--list
  +horizontal-list
  +inline-block
  margin-top: 10px

.m-admin-step--item
  color: $medium-gray
  font-weight: bold
  text-transform: uppercase
  font-size: 0.688em
  &.is-active
    color: white
    .m-admin-step--number
      background-color: white

.m-admin-bundle
  +span-columns(5)

.m-admin-bundle--list
  +no-bullet
  margin: 0
  padding: 0
  background-color: $near-white
  color: $near-black

.m-admin-bundle--item
  +clearfix
  padding: 15px 20px
  color: $near-black
  &:hover, &.is-selected
    background-color: white

.m-admin-bundle--title
  font-size: 0.875em
  font-weight: bold
  line-height: 17px
  margin-bottom: 0
  text-transform: uppercase

.m-admin-courses
  +span-columns(7)
  padding-right: 10px
  .m-object
    margin-top: 8px
  p
    font-size: 0.750em
    line-height: 18px

.m-admin-courses--time
  font-size: 0.750em

.m-admin-courses--list
  +no-bullet
  padding: 0

.m-admin-courses--item
  padding-bottom: 30px
  a
    +inline-block
    margin-bottom: 5px

.m-admin-bundle--description
  font-size: 0.750em
  font-weight: 300

.m-admin-plan-summary
  +clearfix
  background-color: $dark-saturate-blue
  border-radius: $default-border-radius
  padding: 20px 30px
  margin: 25px 20px

.m-admin-slider-wrapper
  margin-top: 50px

.m-admin-plan--title
  color: white
  padding-bottom: 0
  font-size: 0.750em
  text-transform: uppercase

.m-admin-prices-summary
  +clearfix
  padding: 20px 0 0 40px
  text-align: center

.m-admin-prices-summary--amount
  color: white
  font-weight: bold
  font-size: 1.875em

.m-admin-prices-summary--description
  text-transform: uppercase
  color: white

.m-admin-billing-info
  padding-left: 20px

.m-admin-card-info
  padding-left: 30px

.m-admin-security-img
  margin-top: 25px
