.m-header
  background: url('../img/header-bg.jpg') center center
  position: relative
  height: 649px
  padding-top: 20px
  .m-logo
    +span-columns(4)
.m-header-nav
  +span-columns(8)
  list-style-type: none
  padding: 0
  margin-top: -12px
  overflow: hidden
  > li
    +inline-block
    margin: 5px 10px
    &:last-child
      margin-right: 0px
    a
      color: white
      font-weight: bold

.m-search
  +span-columns(6)
  margin-top: 140px
  h1
    color: white
    line-height: 40px

.m-search-wrapper
  +inline-block
  border-radius: 5px
  background: rgba(white, 0.15)
  padding: 7px
  margin-top: 25px
  input[type="search"], input[type="submit"]
    +box-sizing(border-box)
    +appearance(none)
    border: 1px solid $medium-gray
    height: 45px
    padding: 0 10px
    outline: none
    &:focus
      background-color: white
  input[type="submit"]
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    margin-left: -6px
    background: $orange url(../img/icon-search.png) center center no-repeat
    cursor: pointer
    text-indent: -9999px
    width: 45px
    border-left: 0
    margin-top: -1px
  input[type="search"]
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    font-size: 15px
    background-color: $light-gray
    &:focus
      background-color: white

.m-menu
  background: rgba(white, .05)
  position: absolute
  bottom: 0
  width: 100%
  padding: 20px 0
  .m-courses-menu
    +horizontal-list
    [class^="icon-"],[class*=" icon-"]
      +box-sizing(border-box)
      background-position: center 25px
      background-repeat: no-repeat
      position: relative
      width: 164px
      height: 125px
      &:hover, &.is-selected
        background-color: rgba(#222222, 0.8)
      &:hover span, &.is-selected span
        color: $orange
      span
        position: absolute
        bottom: 20px
        width: 100%
        text-align: center
        color: white
        font-weight: bold

  .icon-business
    background-image: url('../img/icon-business.png')
    &:hover, &.is-selected
      background-image: url('../img/icon-active-business.png')
  .icon-safety
    background-image: url('../img/icon-safety.png')
    &:hover, &.is-selected
      background-image: url('../img/icon-active-safety.png')
  .icon-compliance
    background-image: url('../img/icon-compliance.png')
    &:hover, &.is-selected
      background-image: url('../img/icon-active-compliance.png')
  .icon-technology
    background-image: url('../img/icon-technology.png')
    &:hover, &.is-selected
      background-image: url('../img/icon-active-technology.png')
  .icon-healthcare
    background-image: url('../img/icon-healthcare.png')
    &:hover, &.is-selected
      background-image: url('../img/icon-active-healthcare.png')
  .icon-software
    background-image: url('../img/icon-software.png')
    &:hover, &.is-selected
      background-image: url('../img/icon-active-software.png')

  
  
