.m-header
  background: url('../img/header-bg.jpg') center center
  height: 649px
  padding-top: 20px
  .m-logo
    +span-columns(4)
.m-header-nav
  +span-columns(6)
  list-style-type: none
  padding: 0
  margin-top: -12px
  overflow: hidden
  > li
    +inline-block
    margin: 5px 10px
    &:last-child
      margin-right: 0px
    a
      color: white
      font-weight: bold

.m-search
  +span-columns(6)
  h1
    color: white
    line-height: 40px

.m-search-wrapper
  +inline-block
  border-radius: 5px
  background: rgba(white, 0.15)
  padding: 7px
  margin-top: 25px
  input[type="search"], input[type="submit"]
    border: 1px solid $medium-gray
    blur: 0
    height: 45px
    padding: 0 10px
  input[type="submit"]
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    margin-left: -6px
    background: $orange url(../img/icon-search.png) center center no-repeat
    cursor: pointer
    text-indent: -9999px
    width: 45px
    border-left: 0
    margin-top: -1px
  input[type="search"]
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    font-size: 15px

