[class^="icon-"],[class*=" icon-"]
  +box-sizing(border-box)
  +inline-block
  background-repeat: no-repeat
  position: relative
  &:hover span, &.is-selected span
    color: $orange
  span
    position: absolute
    bottom: 20px
    width: 100%
    color: white
    font-weight: bold
  &.centered
    +size(100% 125px)
    background-position: center 25px
    span
      text-align: center
  &.left-oriented
    padding-left: 70px
    background-position: 5px center
    // display: inline
    line-height: 40px
  &.right-oriented
    padding-right: 20px
    background-position: right center
    // display: inline
  &.small
    padding-left: 50px
  &.tiny
    padding-left: 20px
    background-position: 0 center

// ***HOME ICONS***
.icon-business
  +retina-image('../img/icon-business', 46px 43px)
  &:hover, &.is-selected
    +retina-image('../img/icon-active-business', 46px 43px)
.icon-safety
  +retina-image('../img/icon-safety', 47px 47px)
  &:hover, &.is-selected
    +retina-image('../img/icon-active-safety', 47px 47px)
.icon-compliance
  +retina-image('../img/icon-compliance', 47px 37px)
  &:hover, &.is-selected
    +retina-image('../img/icon-active-compliance', 47px 37px)
.icon-technology
  +retina-image('../img/icon-technology', 47px 38px)
  &:hover, &.is-selected
    +retina-image('../img/icon-active-technology', 47px 38px)
.icon-healthcare
  +retina-image('../img/icon-healthcare', 45px 45px)
  &:hover, &.is-selected
    +retina-image('../img/icon-active-healthcare', 45px 45px)
.icon-software
  +retina-image('../img/icon-software', 47px 44px)
  &:hover, &.is-selected
    +retina-image('../img/icon-active-software', 47px 44px)
.icon-play-video
  background: url('../img/icon-play-video.png')
  width: 107px
  height: 107px
  border-radius: 54px
  &:hover, &.is-selected
    background: rgba(255,255,255, 0.3) url('../img/icon-play-video.png')

// Packages icons
.icon-enterprise
  +retina-image('../img/icon-enterprise', 77px 76px)

.icon-sm-med-business
  +retina-image('../img/icon-sm-med-business', 72px 70px)

.icon-individual
  +retina-image('../img/icon-individual', 70px 70px)

// Skills icons
.icon-skills-business
  +retina-image('../img/icon-skills-business', 15px 14px)
.icon-skills-safety
  +retina-image('../img/icon-skills-safety', 15px 15px)
.icon-skills-industry
  +retina-image('../img/icon-skills-industry', 15px 15px)

// *** END HOME ICONS ***

// *** DASHBOARD ICONS ***
.icon-users
  background-image: url('../img/icon-users.png')
.icon-alert
  background-image: url('../img/icon-alert.png')

// *** END DASHBOARD ICONS ***

// *** PRICING ICONS ***
.icon-individual-dark
  background-image: url('../img/icon-individual-dark.png')

.icon-sm-med-business-dark
  background-image: url('../img/icon-sm-med-business-dark.png')

.icon-enterprise-dark
  background-image: url('../img/icon-enterprise-dark.png')

.icon-furniture
  background-image: url('../img/icon-furniture.png')

.icon-basic
  background-image: url('../img/icon-basic.png')

.icon-navigation
  background-image: url('../img/icon-navigation.png')

.icon-certificate
  background-image: url('../img/icon-certificate.png')

.icon-question
  background-image: url('../img/icon-question.png')
