.title
  color: $medium-blue
  &.small
    font-size: 0.9em
    padding-bottom: 30px

.uppercase
  text-transform: uppercase

.read-all
  font-size: 12px
  font-weight: 400
  text-decoration: underline
  text-transform: uppercase
  padding-left: 5px

