.title
  color: $medium-blue
  &.small
    font-size: 0.9em
    padding-bottom: 30px

.uppercase
  text-transform: uppercase

.read-all
  font-size: 0.813em
  font-weight: 300
  text-decoration: underline

