.m-signup--subscription
  +clearfix
  border-top: 1px solid $light-light-blue
  background-color: $dark-blue
  text-align: center
  padding-top: 20px
  .m-signup-wrapper
    width: 400px
    margin: 10px 0
  form
    height: 100%
  label
    margin-right: 15px
    height: 45px
    line-height: 40px
    color: white
    font-size: 1.5em
  input[type="email"], input[type="submit"]
    font-size: 0.813em
    border-radius: $base-border-radius
    margin: 0 5px
    margin-bottom: 20px
  input[type="email"]
    width: 400px
    +breakpoint($mobile)
      width: 90%
