.m-social-sign--list
  list-style: none
  padding: 0

.m-social-sign--item
  margin: 8px 0

.m-social-sign-bottom
  color: $medium-blue
  background: white
  width: 100%
  overflow: hidden
  font-size: 0.813em
  padding-right: 20px
  padding-left: 20px
  border-bottom-left-radius: $default-border-radius
  border-bottom-right-radius: $default-border-radius

.m-social-btn--list
  +horizontal-list
  margin-top: 25px

.m-social-btn--list li
  padding-left: 0
  padding-right: 11px

.m-social-btn--item
  +inline-block
  width: 42px
  height: 41px

