.m-tabs
  +clearfix
  padding-top: 40px
  background-color: $near-white

.m-tabs-list
  +horizontal-list
  border-bottom: 1px solid $medium-gray

.m-tabs-list--item
  +inline-block
  margin-bottom: -1px

// Jquery UI styles
.ui-state-default a
  padding: 15px 50px
  font-size: 0.813em
  color: $medium-blue

.ui-tabs-active a
  border-top-right-radius: 5px
  border-top-left-radius: 5px
  background-color: $near-white
  border: 1px solid $medium-gray
  border-bottom-color: $near-white
  padding: 15px 50px
  color: $orange


