.m-testimonials
  +clearfix
  padding: 50px 0
  text-align: center
  color: white
  background: $dark-blue url('../img/fc-logo-bg.png') no-repeat center center
  .content
    +span-columns(8)
    +shift(2)
    line-height: 42px
  .text
    font-size: 2em
    font-weight: 300
  .name, .occupation, .read-all
    margin-bottom: 0
    line-height: 1.5em
  .name
    font-size: 1.5em
    font-weight: normal
  .occupation
    font-size: 0.875em
    font-weight: 300
  .read-all
    font-size: 0.813em
    font-weight: 300
    text-decoration: underline
    color: $orange
